@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Prompt:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::selection {
  color: rgb(12, 74, 128);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: ;
}

::-webkit-scrollbar-thumb {
  background-color: ;
  border-radius: 10px;
}

:root {
  --main-color: #ff7b00ea;
  --seconde-color: #ffe0c3ea;
  --title-color: #222;
  --subtitle-color: #8d8d8d;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  height: 1000px;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 90px 0 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px; /* Updated padding for better mobile view */
}

.btn {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  padding: 10px 15px;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  transition: 0.4s;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid var(--main-color);
  color: var(--main-color);
}
.btn i {
  font-size: 20px;
  margin-left: 10px;
}
.section_title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 0.8;
  color: #222;
  position: relative;
  margin-bottom: 50px; /* Adjusted margin for better mobile view */
  padding-bottom: 20px;
}
.section_title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 0.8;
  color: #222;
  position: relative;
  margin-bottom: 100px;
  padding-bottom: 20px;
}
.section_title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: var(--main-color);
}
.section_title::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.grid {
  display: grid;
  grid-template-columns: 1fr; /* Updated for mobile view */
  column-gap: 2rem;
}

header {
  position: fixed;
  width: 120%;
  padding: 10px 0;
  z-index: 1500;
  background-color: #f3f8ff;
}

header.active {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.logo {
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
}

.menu {
  white-space: nowrap;
  transition: 0.5s;
  z-index: 999;
  position: relative;
}

.menu_item {
  display: inline-block;
}

.menu_link {
  padding: 5px 10px;
  position: relative;
  transition: 0.4s;
  color: #333;
  font-weight: 500;
}
.menu_link::before {
  counter-reset: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  transform: scale(0);
  transition: 0.4s;
}
.menu_link:hover {
  color: var(--main-color);
}
.active-link {
  color: var(--main-color);
}
.menu_link.active-link::before,
.menu_link:hover::before {
  transform: scale(1);
}
.close_icon {
  font-size: 25px;
  position: absolute;
  top: 30px;
  right: 250px;
  z-index: 1000;
  color: var(--main-color);
  cursor: pointer;
  display: none;
}
.toggle_icon {
  font-size: 32px;
  display: none;
  cursor: pointer;
  margin-right: 10px;
}



.hero {
  padding-top: 0px;
  position: relative;
  display: block;
}

.hero_container {
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr; /* Adjust the column ratio as needed */
  gap: 2rem; /* Adjust the gap between columns as needed */
  padding: 150px 200px 0 200px;
}

.hero_container h4 {
  font-size: 100px;
  font-weight: 600;
  color: var(--main-color);
  text-transform: uppercase;
}

.hero_container h1 {
  font-size: 80px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  margin-bottom: 10px;
  color: var(--title-color);
}

.hero_container h3 {
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  margin-bottom: 10px;
  color: var(--title-color);
  padding-top: 200px;
}

.hero_container p {
  font-family:"Verdana, Geneva, Tahoma, sans-serif";
  font-size: 18px;
}

.hero_image {
  text-align: right;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-top: 60;
  border-width: thick;
  
}

.hero_image img {
  max-width: 100%;
  height: auto;
}

.hero_button {
  padding-top: 20px;
}

#header {
  transition: background-color 0.3s ease-in-out;
}

#header.scrolled {
  background-color: #333; /* Add the background color you want when scrolled */
}


.hero_content {
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.hero_content p{
  margin:10px 150px 50px 0;
}

.hero_content.hide {
  opacity: 0;
  transform: translateY(-100%);
}

.about_container {
  column-gap: 0;
  align-items: center;
}

.about_content p {
  color: #333;
  margin: 20px 0 15px;
}

.about_info {
  display: flex;
  column-gap: 20px;
  margin-top: 40px;
  justify-content: center;
}

.about_info > div {
  text-align: center;
  background-color: var(--seconde-color);
  border: 2px dashed var(--main-color);
  border-radius: 10px;
  padding: 10px 15px;
  width: 40%;
  padding-bottom: 0px;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}

video {
  border-radius: 10px;
  border: 2px solid #eee; /* Add a border to each video */
  border-width: thick;
  border-radius: 8px;
  padding-top: 10px;
  margin: 0;
  transition: filter 0.3s; /* Add transition for smooth hover effect */
}

.flash-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.video-container video:hover {
  transform: scale(1.1);
}

.video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s; /* Add transition for smooth hover effect */
}


.flash-card {
  width: 500px;
  background-color: var(--second-color);
  border: 2px dashed var(--main-color);
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.flash-card:hover {
  background-color: var(--seconde-color); /* Change to your hover color */
  transform: scale(1.1);
}
.astro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.astro-container {
  flex-shrink: 0; /* Prevent the image from shrinking */
  align-self: center;
}
.info {
  font-size: 18px;
  width: 700px;
  /* background-color: var(--seconde-color);
  border: 2px dashed var(--main-color); */
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.goal {
  text-align: center;
  padding: 40px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#typed-text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  width: fit-content;
}


.journey {
  text-align: center;
  padding: 40px;
}

.timeline {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  height: 300px;
  overflow-x: auto;
  white-space: nowrap;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(12, 11, 11);
  z-index: -1;
}

.event {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.event:hover {
  background-color: #555;
}

.event img {
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
}

.event-content {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
}

.event:hover .event-content {
  opacity: 1;
}

.space-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.goal_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px; /* Adjust the gap between the paragraph and the image */
  align-items: center;
  justify-content: center;
}

.goal_paragraph {
  font-size: 16px;
  line-height: 1.6;
  color: #333; /* Adjust the text color */
  padding: 10px;
  
}

#astro-image {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto;
}


.section_title {
  text-align: center;
  margin-bottom: 30px;
}

.info {
  text-align: center;
}
.contact_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px; /* Adjust the gap between the paragraph and the form */
  align-items: center;
 
}

.contact_paragraph {
  font-size: 50x;
  color: #222 /* Use your preferred color variable */
}

.contact_form {
  max-width: 600px;
  margin: 0 auto;
}

.contact_form label {
  display: block;
  margin-bottom: 8px;
  color: var(--main-color); /* Use your preferred color variable */
}

.contact_form input,
.contact_form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.contact_form button {
  background-color: var(--main-color); /* Use your preferred color variable */
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact_form button:hover {
  background-color: #333; /* Adjust the hover background color */
}

/* Additional styles for better spacing */

.section_title {
  text-align: center;
  margin-bottom: 30px;
}
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}

.footer p {
  margin: 0;
}

.footer-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-icons a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 24px;
}

/* Add hover effect for icons */
.footer-icons a:hover {
  opacity: 0.8;
}

.images{
  width: 45%;
  height: 60%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.images img{
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s,left;
}


@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .menu {
    position: absolute;
    right: 100px;
    top: 0; 
    background-color: #eee;
    height: 100vh;
    padding-top: 100px;
    width: 300px;
    text-align: center;
    transform: translateX(110%);
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.15);
  }
  .menu.active {
    transform: translateX(0);
  }
  .menu_item {
    display: block;
    margin: 20px 0;
  }
  .menu_link {
    color: #333;
  }
  .toggle_icon {
    display: block;
    justify-content: right;
    
  }
  .close_icon {
    display: block;
  }


  .hero_container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 100px ;
  }

  .images{
    width: 25%;
    height: 35%;
    position: absolute;
    top:400px;
    right: 200px;
    
  }
  
  .hero_button {
    padding-top: 20px;
    padding-bottom: 100px;
  }

  .hero_content p { 
    font-family:"Verdana, Geneva, Tahoma, sans-serif";
    text-align: justify;
    margin: 10px 5px 10px 5px;
  } 

  .hero_content h4 {
    font-size: 35px;
  }

  .hero_content h3 {
    font-size: 30px;
  }

  .hero_content h1 {
    font-size: 30px;
  }

  

  .goal_container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    
  }
  
  .goal_paragraph {
    font-size: 16px;
    line-height: 1.6;
    color: #333; /* Adjust the text color */
    margin: 0 100px 0 100px;

  }

  #typed-text {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    width: fit-content;
  }

  #astro-image {
    max-width: 100px;
    border-radius: 10%;
  }

  
}

